data_preprocessing.json
{
  "name": "document-processing",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "value": "REPLACE_GOOGLE_DRIVE_FOLDER_ID",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "google-drive-trigger",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": "={{ $env.GOOGLE_DRIVE_OAUTH }}"
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [208, 0],
      "id": "download-file",
      "name": "Download File",
      "credentials": {
        "googleDriveOAuth2Api": "={{ $env.GOOGLE_DRIVE_OAUTH }}"
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "value": "REPLACE_PINECONE_INDEX",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [416, 0],
      "id": "pinecone-index",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": "={{ $env.PINECONE_API_KEY }}"
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [384, 224],
      "id": "openai-embed",
      "name": "OpenAI Embeddings",
      "credentials": {
        "openAiApi": "={{ $env.OPENAI_API_KEY }}"
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $('Download File').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [560, 208],
      "id": "default-loader",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 1000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [656, 416],
      "id": "text-splitter",
      "name": "Recursive Text Splitter"
    }
  ],

  "connections": {
    "Google Drive Trigger": {
      "main": [[{ "node": "Download File", "type": "main", "index": 0 }]]
    },
    "Download File": {
      "main": [[{ "node": "Pinecone Vector Store", "type": "main", "index": 0 }]]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [[{ "node": "Pinecone Vector Store", "type": "ai_embedding", "index": 0 }]]
    },
    "Default Data Loader": {
      "ai_document": [[{ "node": "Pinecone Vector Store", "type": "ai_document", "index": 0 }]]
    },
    "Recursive Text Splitter": {
      "ai_textSplitter": [[{ "node": "Default Data Loader", "type": "ai_textSplitter", "index": 0 }]]
    }
  },

  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "REPLACE_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REPLACE_INSTANCE_ID"
  },
  "id": "REPLACE_WORKFLOW_ID",
  "tags": []
}
